<% if @quotation.errors.any? %>
  <h2>The following errors prevented the quotation from being saved.</h2>
  <ul>
    <% @quotation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @quotation, local: true) do |f| %>
    <p>
        <%= f.label :quote %>
        <%= f.text_field :quote %>
    </p>

    <p>
    <%= f.label :author %>
    <%= f.select :creator_id, @creators.map{ |c| [c.author, c.id] }%>
    </p>

    <p>
    <%= f.label :tags %>
    <%= f.select :tag_ids, Tag.all.collect{|t| [t.tag_name, t.id]}, {:prompt => "Select Tag"}, {:multiple => true, include_hidden: false}
    %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
