<h1>Show Quotation</h1>

<p><strong>Quote: </strong><%= @quotation.quote %></p>
<p><strong>Author: </strong><%= @quotation.creator.author if @quotation.creator %></br></br>

<%= link_to "Edit", edit_quotation_path(@quotation) %>
<%= link_to "Delete", quotation_path(@quotation), method: :delete, data: { confirm: "Are you sure you want to delete this?"} %>
<%= link_to "Return to quotation listing", quotations_path() %>
