<%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="main-container">
    <div class="greetings">
        <div class = "clock"><p>11:40</p></div> 
        <div class = "greeting"><p>Good morning, LJ</p></div> 
        <div class = "question"><p>What is your main focus for today?</p></div> 
        <input type="text" class="text-line" />
    </div>
</div>

<div class = "topright">
    <p><%= link_to "Sign up", new_user_path(), class: "btn btn-primary" %></p>
    <p><%= link_to "Login", login_user_path(), class: "btn btn-primary" %></p>
</div>

<div class= "content-container" >
    <div class= "content">
            <p><%= @rand_quote %></p>
            <p><%= @rand_author %></p>
    </div>
</div>
